/* Barra de navegacion */

.navbar{
    padding: 2rem;
    background-color: rgba(55, 11, 85, 0.74);
}

.navbar-collapse{
    align-items: center;
    justify-content: space-between;
}


img{
    width: 100px;
}

/* Ocultamos el logo cuando se achica en la pantalla (resposivo) */
@media screen and (max-width: 767px){
    .navbar-brand{
        display: none;
    }
}