/* Barra de navegacion */

.navbar{
    padding: 2rem;
    background-color: rgba(55, 11, 85, 0.74);
    height: 6rem;
}

.navbar-collapse{
    align-items: center;
    justify-content: space-between;
}


.logo1{
    width: 100px;
    height: 100px;
    border-radius: 50%;
    margin: 20px;
}

/* Ocultamos el logo cuando se achica en la pantalla (resposivo) */
@media screen and (max-width: 767px){
    .navbar-brand{
        display: none;
    }
}